html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    color:#555;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
     text-decoration:  none;
}
	
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    clear: both;
    display: block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Add your css into here*/
.fl_left{ float: left;}
.fl_right{ float: right;}

.container{
	max-width: 1263px;
	margin: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.header{
	background: #2D2F35;
	border-bottom: 1px solid #474A51;
}
.header img{
	margin-left: 8px;
}
.intro{
	display: flex;
	background: url('../img/bg_home_intro.gif');
}
.intro img{
	margin-right: 150px;
}
.intro-text{
	padding-top: 4px;
	margin-left: 132px;
	width: 400px;
	color: #B7B7B8;
	font-size: 85%;
	font-family: Arial;
}
.intro-text a{
	letter-spacing: 3px;
	font-size: 165%;
	color: yellow;
	text-align: justify;
}
.thumb{
	max-width: 1263px;
	text-align: center;
	background: #2D2F35;
	border-bottom: 1px solid #474A51;
	padding: 25px 0 17px 0;
}
.thumb .item{
	display: inline-block;
	margin: 0px 8px;
	position: relative;
	width: 220px;
}
img.hinh{
	position: absolute;
	top: 2px;
	right: 3px;
	width: auto !important;
	height: auto !important;
}
.home{
	padding-bottom: 379px;
	background: #2D2F35;
	position: relative;
	border-bottom: 1px solid #474A51;
	z-index: -2;
}
.home-left{
	float: left;
	width: 400px;
	margin-top: 10px;
	margin-left: 132px;
	color: #FFFFFF;
	font-size: 85.24%;
	font-family: Arial;
	text-align: justify;
	
}
.home-left a{
	font-family: monofonto;
	font-size: 190%;
	color: yellow;
}
.home-right{
	float: right;
	width: 400px;
	margin-top: 10px;
	margin-right: 131px;
	color: #FFFFFF;
	font-size: 85.24%;
	font-family: Arial;
	text-align: justify;
}
.home-right a{
	font-family: monofonto;
	font-size: 200%;
	color: yellow;
}
img.design{
	position: absolute;
	top: 198px;
	left: 381px;
	z-index: -1;
}
img.marketing{
	position: absolute;
	top: 4px;
	left: 734px;
	z-index: -1;
}
.footer{
	padding: -5px;
	text-align: center;
	background: #24262A;
}
.footer a{
	font-size: 78%;
	color: #E4E4E4;
}
.footer img{
	margin-bottom: 30px;
}